
<%= simple_form_for [:account,@book] do |f| %>
  <%= f.input :title, label: t("title") %>
  <%= f.input :author, label: t("author") %>
  <%= f.input :description, label: t("description") %>
  <%= f.input :price, label: t("price") %>
  <%= f.input :publisher, label: t("publisher") %>
  <%= f.input :isbn, label: t("isbn") %>

  <% if @book.image.present? %>
    <span>当前图书封面</span> <br>
    <%= image_tag(@book.image.thumb.url) %>
  <% end %>

  <%= f.input :image, as: :file, label: t("image") %>

  <%= f.input :is_hidden, label: t("is_hidden") %>

  <%= f.submit t("Submit"), class: "btn btn-primary" %>
<% end %>
