<div class="row">
  <div class="col-md-6 col-sm-12 col-xs-12">
    <% if @book.image.present? %>
      <%= image_tag(@book.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12">
    <h3>
      <%= t("title") %>：
      <%= @book.title %>
      <%= render_book_status(@book) %>
    </h3>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12">
    <h4>
      <%= t("author") %>：
      <%= render_book_author(@book) %>
    </h4>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12">
    <p>
      <%= t("publisher") %>：
      <%= render_book_publisher(@book) %>
    </p>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12">
    <p>
      <%= t("price") %>：
      <%= render_book_price(@book) %>
    </p>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12" style="height:100px;">
      <p>
        <%= t("description") %>
        <%= simple_format(@book.description) %>
      </p>
  </div>
</div>

<div class="pull-right">
  <div class="col-md-6 col-sm-12 col-xs-12" style="height:100px;">
    <div class="btn-group-vertical" role="group" aria-label="Basic example">
      <%= link_to(t("Edit"), edit_account_book_path(@book), class: "btn btn-primary") %>
      <%= link_to(t("Delete"), account_book_path(@book), method: :delete, :date => { :confirm => "Are you sure?"}, class: "btn btn-danger") %>

      <% if @book.is_hidden %>
        <%= link_to(t("Hide"), publish_account_book_path(@book), method: :post, class: "btn btn-success") %>
      <% else %>
        <%= link_to(t("Publish"), hide_account_book_path(@book), method: :post, class: "btn btn-info") %>
      <% end %>
    </div>
  </div>
</div>
