<h1>Edit User</h1>

<%= simple_form_for [:account, @user] do |f| %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Update", :class => "btn btn-primary" %>
    <%= link_to "Cancel", account_users_path, class: "btn btn-danger"%>
  </div>

<% end %>
