<div class="pull-right">
  <%= link_to(t('New Book'), new_account_book_path, class: "btn btn-info") %>
</div>
<br><br>

<% @books.each do |book| %>
  <div class='col-xs-12 col-sm-6 col-md-4 col-lg-2'>
      <div class="card">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <%= link_to book do %>
            <div class="card-topper">
              <%= link_to book_path(book) do %>
                <% if book.image.present? %>
                  <%= image_tag(book.image.thumb.url, class: "book-img") %>
                <% else %>
                  <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "book-img") %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="card-block">
            <h4 class="card-title"><%= link_to(t("book.title", :name => book.title), book_path(book)) %></h4>
            <h6><%= t("Author") %>: <%= render_book_author(book) %></h6>
            <h6><%= t("Owner") %>: <%= book.user.email %></h6>
            <p class="card-text"><%= t("publisher") %>:<%= render_book_publisher(book) %></p>
            <h6 class="published-date"><%= book.updated_at.to_s(:short) %></h6>
            <p class="card-text"><%= truncate(book.description, length: 25) %></p>
          </div>
        </div>
      </div>
  </div>
<% end %>
