<div class="pull-right">
  <%= link_to('New Book', new_account_book_path, class: "btn btn-default") %>
</div>
<br><br>
<table class="table table-boldered text-center">
  <thead>
    <tr>
      <td>Title</td>
      <td>User Email</td>
      <td>Update Time</td>
    </tr>
  </thead>
  <% @books.each do |book| %>

  <div class="col-xs-6 col-md-3">
      <%= link_to book_path(book) do %>
        <% if book.image.present? %>
          <%= image_tag(book.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
    </div>

    <tr>
      <td><%= link_to(book.title, book_path(book)) %></td>
      <td><%= book.user.email %></td>
      <td><%= book.updated_at %></td>
      <% if current_user && current_user == book.user %>
        <td><%= link_to("Edit", edit_account_book_path(book), class: "btn btn-xs btn-primary") %>
            <%= link_to("Delete", account_book_path(book), method: :delete, :date => { :confirm => "Are you sure?"}, class: "btn btn-xs btn-default") %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
