<div class="pull-right">
  <%= link_to(t('New Book'), new_account_book_path, class: "btn btn-primary") %>
</div>
<br><br>

<% @books.each do |book| %>
  <div class="card-surface">
    <div class='col-xs-12 col-sm-6 col-md-4 col-lg-2'>
        <div class="card">
          <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="card-topper">
                  <% if book.image.present? %>
                    <%= image_tag(book.image.thumb.url, class: "book-img") %>
                  <% else %>
                    <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "book-img") %>
                  <% end %>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="card-block">
              <h4 class="card-title"><%= t("book.title", :name => book.title) %></h4>
              <h6><%= t("author") %>: <%= render_book_author(book) %></h6>
              <h6><%= t("Owner") %>: <%= book.user.email %></h6>
              <p class="card-text"><%= t("publisher") %>:<%= render_book_publisher(book) %></p>
              <h6 class="published-date">
                <%= book.updated_at.to_s(:ymdh) %>
                <label class= "label label-lg label-success">Statu</label>
              </h6>

                <h5 class="visible-xs-block btn-group">
                  <%= link_to("详情", book_path(book), class: "btn btn-info btn-xs") %>
                  <%= link_to("借阅", "#", class: "btn btn-success btn-xs") %>
                </h5>
            </div>
          </div>
        </div>
        <div class="middle">
          <%= link_to("详情", book_path(book), class: "btn btn-info") %>
          <%= link_to("借阅", "#", class: "btn btn-success") %>
        </div>
    </div>
  </div>
<% end %>
